<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785916212373-rimnpf1u6cgmhp7tdbn3as3s828itfnj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785916212373-rimnpf1u6cgmhp7tdbn3as3s828itfnj</string>
	<key>API_KEY</key>
	<string>AIzaSyBPJ7w_QEbtSv-YrAGmuKIxNmcbKHlAjkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>785916212373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Aguila.Miguel.FoodApp</string>
	<key>PROJECT_ID</key>
	<string>iosdemo-7f7a8</string>
	<key>STORAGE_BUCKET</key>
	<string>iosdemo-7f7a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785916212373:ios:ed32b26171054ec9ea979c</string>
</dict>
</plist>